<div class="back">
  <header>
    <div class="header">
      <a href="https://www.linkedin.com/in/victor-muniz-236842267/" target="_blank" class="fa-brands fa-linkedin"></a>
      <div class="title">
        <h1>JSON <i class="fa-solid fa-arrow-right-arrow-left"></i> CSV</h1>
        <h2>Converter</h2>
      </div>
      <a href="https://github.com/Kairuus" target="_blank" class="fa-brands fa-github"></a>
    </div>
  </header>
  <div class="container">
    <div class="json-div">
      <p>Insert your <strong>JSON</strong> here</p>
      <textarea id="json-box" cols="65" rows="25" #json [(ngModel)]="jsonContent" (keyup)="validateJSON()" spellcheck="false"></textarea>
      <div class="copy-div" (click)="copy(json.value, jsonCopy)">
        <i class="fa-solid fa-copy"></i>
        <p #jsonCopy class="notSelectable">Copy code</p>
      </div>
    </div>
    <div class="options">
      <button id="convertBtn" (click)="jsonCsv()"><p>JSON<br>to<br>CSV</p><i class="fa-solid fa-arrow-right"></i></button>
      <button id="convertBtn" (click)="csvJson()"><p>CSV<br>to<br>JSON</p><i class="fa-solid fa-arrow-left"></i></button>
      <div class="warning-div">
        <p [hidden]="invalidJson">Enter a valid JSON</p>
        <p [hidden]="invalidCsv">Enter a valid CSV</p>
      </div>
      <button id="downloadBtn" (click)="downloadJSON()">Download JSON</button>
      <button id="downloadBtn" (click)="downloadCSV()">Download CSV</button>
      <button id="clearBtn" (click)="clearAll()">Clear All</button>
    </div>
    <div class="csv-div">
        <p>Insert your <strong>CSV</strong> here</p>
      <textarea id="csv-box" cols="65" rows="25" #csv [(ngModel)]="csvContent" spellcheck="false" (keyup)="validateCSV()" ></textarea>
      <div class="copy-div" (click)="copy(csv.value, csvCopy)">
        <i class="fa-solid fa-copy" ></i>
        <p #csvCopy class="notSelectable">Copy code</p>
      </div>

    </div>
  </div>

</div>
